body {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 520px;
  min-height: 600px;
  background: #f9f9f9;
  text-align: left;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

ul {
  margin: 0;
  padding: 0;
} 

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  justify-content: space-between;
  align-items: center;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
/* ul li:nth-child(odd) {
  background: #f9f9f9;
} */

/* Darker background-color on hover */
/* ul li:hover {
  background: #ddd;
} */

/* When clicked on, add a background color and strike out text */
/* ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
} */

/* Add a "checked" mark when clicked on */
/* ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
} */


/* Style the close button */
 /* .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
} 

.close:hover {
  background-color: #f44336;
  color: white;
}  */

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

 li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li:nth-child(odd) {
  background: #f9f9f9;
}

li:hover {
  background: #ddd;
}
.fa {
  font-size: 5px;
}
 /* .check {
  background-color: white;
}  */

/* .close {
  background-color: white;
} */

/* .crossed-line {
  text-decoration: line-through;
} */



/* input[type=checkbox]:checked + label {
  color:black;
  text-decoration: line-through;
} */